.Option{
    text-align: center;
    margin: 5px;
    height: 25%;
    width: 45%;
    padding: 5px;
    outline-color: black;
    outline-width: 3px;
    outline-style: solid; 
    line-height: 1.3rem;
}