.App {
  text-align: center;
  height: 100%;
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.dannyIMG{
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    height: 49vh;
}
*{
  box-sizing: border-box;
  font-family: 'Press Start 2P';
}